{% for lesson in lessons reversed %}
    <div class="card">
        <p style="padding: 1rem; display: inline-block">{{ lesson.name }}</p>
        <a href="{% url 'edit_lesson' lesson.id %}">
            <button class="btn-floating" style="float:right">
                <i class="material-icons">edit</i>
            </button>
        </a>
        <button class="pub btn-floating" style="float:right">
            {% if lesson.published %}
                <i class="published material-icons" id="{{ lesson.id }}">check_box</i>
            {% else %}
                <i class="published material-icons" id="{{ lesson.id }}">check_box_outline_blank</i>
            {% endif %}
        </button>
        <button class="btn-floating red" style="float:right" onclick="deleteLesson({{ lesson.id }})">
            <i class="material-icons">delete</i>
        </button>
    </div>
{% endfor %}

<script>
    $('.pub').on('click', function () {
        let icon = $(this).find('.published');
        if (icon.text() == 'check_box') icon.text('check_box_outline_blank');
        else icon.text('check_box');

        $.ajax({
            method: "POST",
            url: "{% url 'publish_lesson' %}",
            headers: {'X-CSRFToken': '{{ csrf_token }}'},
            data: {
                'lesson_id': icon.attr('id')
            },
            success: function (data) {
                M.toast({html: 'Publish state saved!', displayLength: '500'})
            },
            error: function () {
                alert('Cannot save published state at this time');
            }
        });
    });
</script>