<form>
    <label for="qtitle">Title</label>
    <input type="text" id="qtitle"><br><br>
    <label for="qname">Question</label>
    <textarea id="qname" class="materialize-textarea" style="height: 10vw;"></textarea><br><br>
    <label for="publish2">
        <input type="checkbox" id="publish2" checked="checked"/>
        <span>Publish</span>
    </label>
    <p>Question type: </p>
    <div>
        <label>
            <input type="radio" name="qtype" value="multiple_choice" onclick="yesnoCheck()" id="multcheck"/>
            <span>Multiple Choice</span>
        </label>
        <label>
            <input type="radio" name="qtype" value="fill_in_blank" onclick="yesnoCheck()" id="fillcheck"/>
            <span>Fill in the blank</span>
        </label>
    </div>
    <br>
    <div>
        <div id="fillBlank" style="display:none">
            <div>
                Option 1: <input id="fill_option1" type='text' style="width: 80%"/>
            </div>
            <br><br>
            <div>
                Option 2: <input id="fill_option2" type='text' style="width: 80%"/>
            </div>
            <br><br>
            <div>
                Option 3: <input id="fill_option3" type='text' style="width: 80%"/>
            </div>
            <br><br>
        </div>

        <div id="multchoice" style="display:none">
            <p><i>Press the checkbox near an option if it is correct</i></p>
            <div>
                Option 1: <input class="mult" id="mult_option1" type='text' style="width: 80%"/>
                <label><input type="checkbox" id="mult1"/><span></span></label>
            </div>
            <br><br>
            <div>
                Option 2: <input class="mult" id="mult_option2" type='text' style="width: 80%"/>
                <label><input type="checkbox" id="mult2"/><span></span></label>
            </div>
            <br><br>
            <div>
                Option 3: <input class="mult" id="mult_option3" type='text' style="width: 80%"/>
                <label><input type="checkbox" id="mult3"/><span></span></label>
            </div>
            <br><br>
            <div>
                Option 4: <input class="mult" id="mult_option4" type='text' style="width: 80%"/>
                <label><input type="checkbox" id="mult4"/><span></span></label>
            </div>
            <br><br>
        </div>
    </div>
    <div class="input-field" style="width: 20%;">
        <select id="difficulty">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
        </select>
        <label>Difficulty rating</label>
    </div>
</form>
<div style="text-align: right">
    <button class="btn" onclick="add_question()">Add</button>
</div>
<script>
    $(document).ready(function () {
        $('select').formSelect();
    });
</script>
