{% extends "main/_base.html" %}
{% load custom_tags %}

{% block body %}


    <style>
        .noselect {
            -webkit-touch-callout: none; /* iOS Safari */
            -webkit-user-select: none; /* Safari */
            -khtml-user-select: none; /* Konqueror HTML */
            -moz-user-select: none; /* Old versions of Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
            /* Non-prefixed version, currently
                                             supported by Chrome, Edge, Opera and Firefox */
        }

        .heading {
            background-color: black;
            color: white;
        }
    </style>
    <script>
        $(document).ready(function () {
            $('.collapsible').collapsible();
        });

        $(document).ready(function () {
            $('select').formSelect();
        });

        function yesnoCheck() {
            if (document.getElementById('fillcheck').checked) {
                document.getElementById('fillBlank').style.display = 'initial';
            } else document.getElementById('fillBlank').style.display = 'none';


            if (document.getElementById('multcheck').checked) {
                document.getElementById('multchoice').style.display = 'initial';
            } else document.getElementById('multchoice').style.display = 'none';
        }

        function edit_lesson() {
            const lname = $('#lname').val();
            const desc = $("#desc").val();
            const min_score = $('#min-score').val();
            const quiz_num = $('#quiz-num').val();
            let publish;
            let ide;

            if ($('#publish:checked').val() == null) publish = 'False';
            else publish = 'True';

            if ($('#ide:checked').val() == null) ide = 'False';
            else ide = 'True';

            $.ajax({
                method: "POST",
                url: "{% url 'edit_lesson' lesson.id %}",
                headers: {'X-CSRFToken': '{{ csrf_token }}'},
                data: {
                    'lname': lname,
                    'desc': desc,
                    'quiz_num': quiz_num,
                    'min_score': min_score,
                    'published': publish,
                    'ide': ide
                },
                success: function (data) {
                    M.toast({html: 'Lesson saved!', displayLength: '500'})
                },
                error: function () {
                    alert('Cannot save lesson at this time');
                }
            });
        }

        function add_question() {
            const title = $('#qtitle').val();
            const question = $('#qname').val();
            const publish = $('#publish2:checked').val() == null ? 'False' : 'True';
            console.log(publish);
            const question_type = $('input[name="qtype"]:checked').val();
            const difficulty = $('#difficulty').val();
            let optionsToAdd;
            if (question_type === 'multiple_choice') {
                optionsToAdd = [
                    {
                        option_name: $('#mult_option1').val(),
                        option_answer: $('#mult1:checked').val() == null ? 'False' : 'True'
                    },
                    {
                        option_name: $('#mult_option2').val(),
                        option_answer: $('#mult2:checked').val() == null ? 'False' : 'True'
                    },
                    {
                        option_name: $('#mult_option3').val(),
                        option_answer: $('#mult3:checked').val() == null ? 'False' : 'True'
                    },
                    {
                        option_name: $('#mult_option4').val(),
                        option_answer: $('#mult4:checked').val() == null ? 'False' : 'True'
                    }
                ]
            } else {
                optionsToAdd = [
                    {
                        option_name: $('#fill_option1').val(),
                        option_answer: 'True'
                    },
                    {
                        option_name: $('#fill_option2').val(),
                        option_answer: 'True'
                    },
                    {
                        option_name: $('#fill_option3').val(),
                        option_answer: 'True'
                    },
                ]
            }

            $.ajax({
                method: "POST",
                url: "{% url 'create_question' lesson.id %}",
                headers: {'X-CSRFToken': '{{ csrf_token }}'},
                data: {
                    'title': title,
                    'question': question,
                    'published': publish,
                    'question_type': question_type,
                    'difficulty': difficulty,
                    'options': JSON.stringify(optionsToAdd)
                },
                success: function (data) {
                    $('#questionList').html(data);
                    M.toast({html: 'Quiz added!', displayLength: '500'})
                    $.get("{% url 'create_question' lesson.id %}", function (data) {
                        $("#quiz-form").html(data);
                    });
                },
                error: function () {
                    alert('Cannot add new lesson at this time');
                }
            });
        }

        function deleteQuiz(quiz_id) {
            $.ajax({
                method: "POST",
                url: "{% url 'delete_question' %}",
                headers: {'X-CSRFToken': '{{ csrf_token }}'},
                data: {
                    'quiz_id': quiz_id
                },
                success: function (data) {
                    $('#questionList').html(data);
                },
                error: function () {
                    alert('Cannot delete lesson at this time');
                }
            });
        }
    </script>
    <div class="container">
        <ul class="collapsible popout">
            <li>
                <div class="collapsible-header heading noselect">
                    <div>
                        <h4 style="display: inline" tabindex="-1">Edit Lesson</h4>
                    </div>
                </div>
                <div class="collapsible-body card" id="edit-form">
                    <label for="lname">Set Lesson Name</label>
                    <input type="text" id="lname" name="lname" value="{{ lesson.name }}"><br><br>
                    <label for="publish">
                        {% if lesson.published %}
                            <input type="checkbox" id="publish" checked="checked"/>
                        {% else %}
                            <input type="checkbox" id="publish" value="true"/>
                        {% endif %}
                        <span>Publish</span>
                    </label><br><br>
                    <label for="Cdesc">Set Lesson Description</label>
                    <textarea class="materialize-textarea" style="height: 10vw;"
                              id="desc"
                              value="{{ lesson.content_description }}">{{ lesson.content_description }}</textarea><br>
                    <label for="min-score" style="display: block">Number of questions</label>
                    <input type="number" id="quiz-num" style="width: 25%"
                           value="{{ lesson.wanted_number_quiz_questions }}"
                           min="0" max="100"><br><br>
                    <label for="min-score" style="display: block">Minimum passing score</label>
                    <input type="number" id="min-score" style="width: 25%" value="{{ lesson.min_passing_score }}"
                           min="0"
                           max="100"><br><br>
                    <label for="ide">
                        {% if lesson.needs_IDE %}
                            <input type="checkbox" id="ide" checked="checked"/>
                        {% else %}
                            <input type="checkbox" id="ide" value="true"/>
                        {% endif %}
                        <span>IDE</span>
                    </label>
                    <div style="text-align: right">
                        <button class="btn" onclick="edit_lesson()">Save</button>
                    </div>
                </div>
            </li>
        </ul>
        <div id="questionList" class="card">
            <h3 class="heading" style="padding: 1rem">Questions</h3>
            {% for quiz in quizzes reversed %}
                <div>
                    <p style="padding: 1rem; display: inline-block">{{ quiz.name }}</p>
                    <button class="pub btn-floating" style="float:right">
                        {% if quiz.published %}
                            <i class="published material-icons" id="{{ quiz.id }}">check_box</i>
                        {% else %}
                            <i class="published material-icons" id="{{ quiz.id }}">check_box_outline_blank</i>
                        {% endif %}
                    </button>
                    <button class="btn-floating red" style="float:right" onclick="deleteQuiz({{ quiz.id }})">
                        <i class="material-icons">delete</i>
                    </button>
                </div>
            {% endfor %}
        </div>

        <h3 class="heading" style="padding: 1rem">Add questions</h3>
        <div class="white" style="padding: 1rem" id="quiz-form">
            <form>
                <label for="qtitle">Title</label>
                <input type="text" id="qtitle"><br><br>
                <label for="qname">Question</label>
                <textarea id="qname" class="materialize-textarea" style="height: 10vw;"></textarea><br><br>
                <label for="publish2">
                    <input type="checkbox" id="publish2" checked="checked"/>
                    <span>Publish</span>
                </label>
                <p>Question type: </p>
                <div>
                    <label>
                        <input type="radio" name="qtype" value="multiple_choice" onclick="yesnoCheck()" id="multcheck"/>
                        <span>Multiple Choice</span>
                    </label>
                    <label>
                        <input type="radio" name="qtype" value="fill_in_blank" onclick="yesnoCheck()" id="fillcheck"/>
                        <span>Fill in the blank</span>
                    </label>
                </div>
                <br>
                <div>
                    <div id="fillBlank" style="display:none">
                        <div>
                            Option 1: <input id="fill_option1" type='text' style="width: 80%"/>
                        </div>
                        <br><br>
                        <div>
                            Option 2: <input id="fill_option2" type='text' style="width: 80%"/>
                        </div>
                        <br><br>
                        <div>
                            Option 3: <input id="fill_option3" type='text' style="width: 80%"/>
                        </div>
                        <br><br>
                    </div>

                    <div id="multchoice" style="display:none">
                        <p><i>Press the checkbox near an option if it is correct</i></p>
                        <div>
                            Option 1: <input class="mult" id="mult_option1" type='text' style="width: 80%"/>
                            <label><input type="checkbox" id="mult1"/><span></span></label>
                        </div>
                        <br><br>
                        <div>
                            Option 2: <input class="mult" id="mult_option2" type='text' style="width: 80%"/>
                            <label><input type="checkbox" id="mult2"/><span></span></label>
                        </div>
                        <br><br>
                        <div>
                            Option 3: <input class="mult" id="mult_option3" type='text' style="width: 80%"/>
                            <label><input type="checkbox" id="mult3"/><span></span></label>
                        </div>
                        <br><br>
                        <div>
                            Option 4: <input class="mult" id="mult_option4" type='text' style="width: 80%"/>
                            <label><input type="checkbox" id="mult4"/><span></span></label>
                        </div>
                        <br><br>
                    </div>
                </div>
                <div class="input-field" style="width: 20%;">
                    <select id="difficulty">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                    </select>
                    <label>Difficulty rating</label>
                </div>
            </form>
            <div style="text-align: right">
                <button class="btn" onclick="add_question()">Add</button>
            </div>
        </div>
    </div>

    <script>
        $('.pub').on('click', function () {
            let icon = $(this).find('.published');
            if (icon.text() == 'check_box') icon.text('check_box_outline_blank');
            else icon.text('check_box');

            $.ajax({
                method: "POST",
                url: "{% url 'publish_question' %}",
                headers: {'X-CSRFToken': '{{ csrf_token }}'},
                data: {
                    'quiz_id': icon.attr('id')
                },
                success: function (data) {
                    M.toast({html: 'Publish state saved!', displayLength: '500'})
                },
                error: function () {
                    alert('Cannot save published state at this time');
                }
            });
        });
    </script>
{% endblock %}
