{% extends "main/_base.html" %}
{% load custom_tags %}

{% block body %}
    <style>
        .modal {
            max-height: 100% !important;
            width: 75%;
        }
    </style>

    <div class="container">

        <div class="card" style="text-align: center">
                    <div class="topic-title" style="text-align: center">
            <h2 style="font-size: 5vh; padding-top: 1rem">{{ topics.name }}</h2>
        </div>
            <h5 style="padding: 1rem">Add new lessons here</h5>
            <button data-target="add-lesson" class="btn-floating large modal-trigger">
                <i class="large material-icons">add</i>
            </button>
        </div>
        <div id="lessonlist">
            {% for lesson in lessons reversed %}
                <div class="card" style="border-radius: 1rem">
                    <p style="padding: 1rem; display: inline-block">{{ lesson.name }}</p>
                    <a href="{% url 'edit_lesson' lesson.id %}">
                        <button class="btn-floating" style="float:right">
                            <i class="material-icons">edit</i>
                        </button>
                    </a>
                    <button class="pub btn-floating" style="float:right">
                        {% if lesson.published %}
                            <i class="published material-icons" id="{{ lesson.id }}">check_box</i>
                        {% else %}
                            <i class="published material-icons" id="{{ lesson.id }}">check_box_outline_blank</i>
                        {% endif %}
                    </button>
                    <button class="btn-floating red" style="float:right" onclick="deleteLesson({{ lesson.id }})">
                        <i class="material-icons">delete</i>
                    </button>
                </div>
            {% endfor %}
        </div>
    </div>
    <div id="add-lesson" class="modal">
        <div class="modal-content">
            <h4>Add a new lesson</h4>
            <label for="lname">Set Lesson Name:</label>
            <input type="text" id="lname" name="lname"><br><br>
            <label for="publish">
                <input type="checkbox" id="publish" name="accept" value="true"/>
                <span>Publish</span>
            </label>
            <input type="checkbox" id="publish" name="publish"><br><br>
            <label for="desc">Set Lesson Description:</label>
            <textarea class="materialize-textarea" style="height: 19rem" id="desc"></textarea><br>
            <label for="min-score" style="display: block">Number of questions</label>
            <input type="number" id="quiz-num" style="width: 25%" min="0" max="100"><br><br>
            <label for="min-score" style="display: block">Minimum passing score</label>
            <input type="number" id="min-score" style="width: 25%" min="0" max="100"><br><br>
            <label for="ide">
                <input type="checkbox" id="ide" name="accept" value="true"/>
                <span>IDE</span>
            </label>
        </div>
        <div class="modal-footer">
            <button class="btn modal-close red">Cancel</button>
            <button class="btn modal-close" onclick="add_lesson()">Add</button>
        </div>
    </div>

    <div class="card" disabled="none">
    </div>

    <script>
        function add_lesson() {
            const lname = $('#lname').val();
            const desc = $("#desc").val();
            const min_score = $('#min-score').val();
            const quiz_num = $('#quiz-num').val();
            let publish;
            let ide;

            if ($('#publish:checked').val() == null) publish = 'False';
            else publish = 'True';

            if ($('#ide:checked').val() == null) ide = 'False';
            else ide = 'True';

            $.ajax({
                method: "POST",
                url: "{% url 'create_lesson' %}",
                headers: {'X-CSRFToken': '{{ csrf_token }}'},
                data: {
                    'topic': {{ topics.id }},
                    'lname': lname,
                    'desc': desc,
                    'quiz_num': quiz_num,
                    'min_score': min_score,
                    'published': publish,
                    'ide': ide
                },
                success: function (data) {
                    $('#lessonlist').html(data);
                },
                error: function () {
                    alert('Cannot add new lesson at this time');
                }
            });
        }

        $(document).ready(function () {
            $('.collapsible').collapsible();
        });

        $(document).ready(function () {
            $('.modal').modal();
        });

        $('.pub').on('click', function () {
            let icon = $(this).find('.published');
            if (icon.text() == 'check_box') icon.text('check_box_outline_blank');
            else icon.text('check_box');

            $.ajax({
                method: "POST",
                url: "{% url 'publish_lesson' %}",
                headers: {'X-CSRFToken': '{{ csrf_token }}'},
                data: {
                    'lesson_id': icon.attr('id')
                },
                success: function (data) {
                    M.toast({html: 'Publish state saved!', displayLength: '500'})
                },
                error: function () {
                    alert('Cannot save published state at this time');
                }
            });
        });

        function deleteLesson(lesson_id) {
            if (confirm('Deleting this topic will delete all lessons in it. Are you sure?')) {
                $.ajax({
                    method: "POST",
                    url: "{% url 'delete_lesson' %}",
                    headers: {'X-CSRFToken': '{{ csrf_token }}'},
                    data: {
                        'lesson_id': lesson_id
                    },
                    success: function (data) {
                        $('#lessonlist').html(data);
                    },
                    error: function () {
                        alert('Cannot delete lesson at this time');
                    }
                });
            }
        }
    </script>
{% endblock %}

