{% extends "main/_base.html" %}
{% block body%}
    <div class="container">
        <div class="row">
            <div class="col s12 m6 l4 center-align white-text">testing</div>
            <div class="col s12 m6 l4 center-align white-text">testing</div>
            <div class="col s12 m6 l4 center-align white-text">testing</div>
        </div>
        <button onclick="location.href='/topics'" style="background: url(https://i.natgeofe.com/n/f0dccaca-174b-48a5-b944-9bcddf913645/01-cat-questions-nationalgeographic_1228126_3x4.jpg);background-size:300px,400px;width:300px;height:400px" >TOPICS</button>
        <div></div>
    </div>
{% endblock %}