{% extends "main/_base.html" %}
{% block body%}
    <div class="container">
        <div class="row">
            <div class="col s12 m6 white-text">
                <div class="card transparent">
                    <div class="card-content">
                        <span class="card-title">About</span>
                        <p>CodeFlower is a website that can help middle school and high school students the fundamental
                            basics of computer programming, which can help be a learning tool for people who want to pursue
                            Computer Science in the future.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 white-text">
                 <div class="card transparent">
                    <div class="card-content">
                        <span class="card-title">How it works</span>
                        <p> CodeFlower has offers programming topics selected to give you a basic idea of how computer
                            programming works. Once you select a Topic you are interested in you may work through lessons
                            and test your code in the browser so you can verify you what you have learned. Once you
                            are done with a lesson you will take a quiz to solidify your understanding and move to the
                            next lesson/topic.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <button onclick="location.href='/topics'" style="background: url(https://i.natgeofe.com/n/f0dccaca-174b-48a5-b944-9bcddf913645/01-cat-questions-nationalgeographic_1228126_3x4.jpg);background-size:300px,400px;width:300px;height:400px" >TOPICS</button>
        <div></div>
    </div>
{% endblock %}