{% extends "main/_base.html" %}
{% block body%}
     <script>
        function submitQuiz() {
            const form = document.querySelector('#quiz-form');
            const questions = form.querySelectorAll('.question');
            let errorMessage = '';

            questions.forEach((question) => {
                if (question.dataset.questionType === 'multiple_choice') {
                    const radioNodeList = question.querySelectorAll('input');
                    let oneChecked = false;

                    radioNodeList.forEach((node) => {
                        if (node.checked) oneChecked = true;
                    });

                    if (!oneChecked) alert("you have no provide an answer for a question");
                }
                else {
                    console.log("this is a fill in the blanks style question");
                }
            });

            // data will be an array of dictionaries that contains the
            // id and the response to the question
            $.ajax({
                url: "{% url 'quiz_processing' %}",
                data: {
                    testing: 'hello world'
                },
                success: function (data) {
                    console.log(data);
                },
                error: function (request, status, error) {
                    alert('Your quiz could not be processed at this moment');
                }
            });
        }
    </script>

    {% if lesson.lessonquestion_set.all %}
        <div class="container">
                <h3 class="white-text">{{ lesson.name }} quiz</h3>
        </div>
        <form action="#" id="quiz-form">
            <div class="container white">
                {% for q in lesson.lessonquestion_set.all %}
                    <span style="display: block; padding: 1rem"> {{ forloop.counter }}. {{ q.question }}</span>
                    <div class="divider"></div>
                    <div class="container question" data-question-type={{ q.question_type }}>
                        {% if q.question_type == "multiple_choice" %}
                            {% for opt in q.lessonquestionoption_set.all %}
                                <p>
                                    <label>
                                        <input class="with-gap" name={{ q.id }} type="radio"/>
                                        <span class="black-text">{{ opt.option }}</span>
                                    </label>
                                </p>
                            {% endfor %}
                        {% else %}
                            <div class="row">
                                {% for opt in q.lessonquestionoption_set.all %}
                                    <div class="col s3">
                                        <input type="text" placeholder="blank {{ forloop.counter }}">
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                    <div class="divider black"></div>
                {% endfor %}
            </div>
        </form>
        <div class="container">
            <button class="btn" onclick="submitQuiz()">Submit</button>
        </div>
    {% else %}
        <div class="container">
                <h3 class="white-text">Sorry! It looks like no quiz questions have been created for this lesson yet</h3>
        </div>
    {% endif %}
{% endblock %}