{% extends "main/_base.html" %}
{% block body%}
    <div class="container">
        <div class="card black">
            <div class="card-content white-text">
                <span class="card-title">Output to the console</span>
                <p>One thing that is useful in probably every programming language is outputting to the console. <br><br>
                Python make this task very simple, just type print("") and insert whatever you want to output.
                into the quotation marks <br><br>
                Test it out below!</p>
            </div>
        </div>
    </div>
    <iframe src="https://trinket.io/embed/python/1be8c8e660?runOption=run" width="100%" height="356" frameborder="0" marginwidth="0" marginheight="0" allowfullscreen></iframe>
{% endblock %}