{% extends "main/_base.html" %}
{% block body%}
<div id="container" style="margin-left: 3vw; margin-right: 3vw">
    <div class="card black" style="border-radius: 5px">
        <h3 class="white-text" style="padding-left: 1vw; display: inline-block; width: 90%">Select Topics</h3>
    </div>
    <div class="card white">
        <ul class="collapsible" id="topics">
            {% for topic in topics %}
                {% if topic.published %}
                    <li>
                        <div class="collapsible-header">{{ topic.name }}</div>
                        <div class="collapsible-body">
                            {% for lesson in topic.lesson_set.all %}
                                {% if lesson.published %}
                                    <a class="btn-large" href="{% url 'lessons' lesson.id %}">{{ lesson.name }}
                                        <i class="material-icons right">send</i>
                                    </a>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>

<script>
    $(document).ready(function(){
        $('.collapsible').collapsible();
    });
</script>
{% endblock %}
